body {
        font-family: 'JetBrains Mono', monospace;
        background-color: #000000;
        color: #ffffff;
    }

ul {
  list-style-type: "- ";
}

h1::before {
    content: "# ";
    color: inherit
}

h2::before {
    content: "# ";
    color: inherit
}

.main-section {
    align-items: center;
    margin: 100px;
    max-width: 500px
    
}

.avatar {
  display: flex;
  width: 100px
}